{% extends 'Backend/DatatablesBase.html' %}

{% load static %}

{% block PAGE_TITLE %} ACTUALITÉS {% endblock PAGE_TITLE %}

{% block breadcrumb_parent %} Publications {% endblock breadcrumb_parent %}

{% block breadcrumb %} actualités {% endblock breadcrumb %}

{% block tbale_name %}
Liste des posts
{% endblock tbale_name %}



{% block btn_url %} {% url "admin-actualite" %} {% endblock %}
{% block btn_add_icon %}fas fa-solid fa-plus fa-5x{% endblock %}
{% block btn_add_text %}Post{% endblock %}


  <!--{% include 'Backend/inc/plugins/DataTables/ResponsiveDataTable.html' with TABLE_NAME="COMMUNIQUÉS" PATH="Communiqués" %} -->
    
    
    {% block thead %}
        {% for th in table_header.split %}
            <th>{{th}}</th>
        {% endfor %}
    {% endblock thead %}
        

    {% block TABLE_BODY %}

        <tr>
            <td>1</td>
            <td><img class="post-image" src="{% static 'images/dit.jpg' %}" alt="post-image" style="border-radius: 0%!important;"></td>
            <td>Edinburgh</td>            
            <td>Edinburgh</td>
            <td>New York</td>
            <td>$1500</td>
            <td>$3200</td>
            <td>
            <label class="badge badge-info">Brouillon</label>
            </td>
            <td>12/08/2022</td>
            <td>14/08/2022</td>
            <td>
            <label class="badge badge-outline-info">En attente</label>
            </td>
            <td>0</td>
            <td class="text-left">
                <button class="btn btn-light">
                <i class="fa fa-eye text-primary"></i>
                </button>
                <button class="btn btn-light">
                <i class="fa fa-times text-danger"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><img class="post-image" src="{% static 'images/dit.jpg' %}" alt="post image" style="border-radius: 0%!important;"/></td>
            <td>2015/04/01</td>
            <td>Doe</td>
            <td>Brazil</td>
            <td>$4500</td>
            <td>$7500</td>
            <td>
            <label class="badge badge-warning">Corbeille</label>
            </td>
            <td>12/08/2022</td>
            <td>14/08/2022</td>
            <td>
            <label class="badge badge-outline-success">Ouverts</label>
            </td>
            <td>25</td>
            
            <td class="text-right">
                <button class="btn btn-light">
                <i class="fa fa-eye text-primary"></i>
                </button>
                <button class="btn btn-light">
                <i class="fa fa-times text-danger"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><img class="post-image" src="{% static 'images/dit.jpg' %}"alt="post image" style="border-radius: 0%!important;"></td>
            <td>2012/08/03</td>
            <td>Edinburgh</td>
            <td>New York</td>
            <td>$1500</td>
            <td>$3200</td>
            <td>
                <label class="badge badge-success">Publié</label>
            </td>
            <td>12/08/2022</td>
            <td>14/08/2022</td>
            <td>
                <label class="badge badge-outline-danger">Fermés</label>
            </td>
            <td>785</td>
            <td class="text-right">
                <button class="btn btn-light">
                <i class="fa fa-eye text-primary"></i>
                </button>
                <button class="btn btn-light">
                <i class="fa fa-times text-danger"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>4</td>
                    <td><img class="post-image" src="{% static 'images/dit.jpg' %}"alt="post image" style="border-radius: 0%!important;"></td>
                    <td>2015/04/01</td>
                    <td>Doe</td>
                    <td>Brazil</td>
                    <td>$4500</td>
                    <td>$7500</td>
                    <td>
                    <label class="badge badge-success">Publié</label>
                    </td>
                    <td>12/08/2022</td>
                    <td>14/08/2022</td>
                    <td>
                    <label class="badge badge-outline-success">Ouverts</label>
                    </td>
                    <td>105</td>
            <td class="text-right">
                <button class="btn btn-light">
                <i class="fa fa-eye text-primary"></i>
                </button>
                <button class="btn btn-light">
                <i class="fa fa-times text-danger"></i>
                </button>
            </td>
        </tr>

        

    {% endblock TABLE_BODY %}


 
    




{% comment %} {% extends 'Backend/Database.html' %}


{% block ADMIN_BODY %}

  {% include 'Backend/inc/plugins/DataTables/ResponsiveDataTable.html' with TABLE_NAME="ACTUALITÉ" PATH="Actualités" %}
    
{% endblock ADMIN_BODY %}
     {% endcomment %}

     