{% load static %}

{% comment %} <div class="footer-top-spaced"></div> {% endcomment %}
  <!--Info Section-->
  <section class="info-section">
    <div class="auto-container">
        <div class="inner-section">
            <div class="row clearfix">
            
                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-maps-and-flags"></span></div>
                            <div class="title">Adresse : Abidjan, Plateau - Cité administrative,</div>
                            <h2>12e Étage, Tour A</h2>
                        </div>
                    </div>
                </div>

                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-phone-call"></span></div>
                            <div class="title">Téléphone Fixe :</div>
                            <h2>+225 27 20 23 92 80</h2>
                            <h2>+225 27 20 23 92 50</h2>
                        </div>
                    </div>
                </div>

                



                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-12 col-xs-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-chronometer-outline"></span></div>
                            <div class="title">Horaires :</div>
                            <div class="title">Lundi - Vendredi:</div>
                            <h2>07h30 - 16h30</h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--End Info Section-->

<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-5 col-xs-12">
                    <!--Logo Widget-->
                    <div class="footer-widget logo-widget">
                        <div class="widget-content">
                            <div class="footer-logo">
                                <a href="{% url 'index' %}"><img src="{% static 'Media/images/logo/footer-logo-meps.jpg' %}" alt="" /></a>
                            </div>
                            <div class="text">
                                <p><strong>Le Ministre de l'Emploi et de la Protection Sociale</strong> est chargé de la mise en oeuvre et du suivi de la politique du Gouvernement en matière d'Emploi et de Protection sociale.</p>
                            </div>
                            <ul class="social-icon-one">
                                <li><a href="https://www.facebook.com/people/Minist%C3%A8re-de-lEmploi-et-de-la-Protection-Sociale-Officiel/100063663162120/"><span class="fa fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-md-8 col-sm-8 col-xs-12">
                    <!--Links Widget-->
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="column col-md-4 col-sm-6 col-xs-12">
                                    <h2>Les ecoles</h2>
                                    <ul class="footer-links">
                                        <li><a target="_blank" href="https://www.infs-ci.org">INSFS</a></li>
                                        <li><a target="_blank" href="https://inipa.webs.com">INIPA</a></li>
                                        <li><a target="_blank" href="https://ecis.webs.com/">ECIS</a></li>
                                        <!-- <li><a href="#">IAT</a></li> -->
                                    </ul>
                                </div>
                                <div class="column col-md-8 col-sm-6 col-xs-12">
                                    <h2>Les structures sous-tutelles</h2>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <ul class="footer-links">
                                                <li><a target="_blank" href="https://www.cnps.ci">CNPS</a></li>
                                                <li><a href="https://www.annuaireci.com/cote-divoire/fr-FR/ips--cnam-institution-de-prevoyance-sociale">CNAM</a></li>
                                                <li><a target="_blank" href="https://www.mugef-ci.com">MUGEF-CI</a></li>
                                                <!-- <li><a target="_blank" href="https://www.cgrae.ci">CGRAE</a></li>
                                                <li><a target="_blank" href="https://www.airms-ci.com">AIRMS</a></li>
                                                <li><a href="pfs-yopougon.net">PFS</a></li>-->                                    
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <ul class="footer-links">
                                                <li><a target="_blank" href="https://www.cgrae.ci">CGRAE</a></li>
                                                <li><a target="_blank" href="https://www.airms-ci.com">AIRMS</a></li>
                                                <li><a target="_blank" href="https://pfs-yopougon.net">PFS-CI</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                        </div>
                                    </div>                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <!-- <div class="footer-column col-md-4 col-sm-12 col-xs-12"> -->
                    <!--Form Widget-->
                    <!-- <div class="footer-widget form-widget">
                        <h2>Request Quote</h2>
                        <div class="widget-content">

                            <div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="name" value="" placeholder="Your Name" required="">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Email Address" required="">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="number" value="" placeholder="Phone Number" required="">
                                        </div> -->
                                        <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="text" value="" placeholder="Company" required="">
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <textarea placeholder="Message" ></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="theme-btn btn-style-one">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div> -->
                <!-- </div> -->

            </div>
        </div>
    </div>

    <!-- Footer usefull links -->
    <!--Footer Bottom-->
    <div class="footer-bottom usefull-link-section ">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-2 col-sm-3">
                    <a class="usefull-link" href="https://www.gouv.ci" target="_blank">site du gouvernement</a>
                </div>
                <div class="column col-md-2 col-sm-3">
                    <a class="usefull-link" href="https://www.presidence.ci" target="_blank">Portail Données Ouvertes</a>
                </div>
                <div class="column col-md-2 col-sm-3">
                    <a class="usefull-link" href="https://www.annuaire.ci" target="_blank">Annuaire du gouvernement</a>
                </div>

                <div class="column col-md-2 col-sm-3">
                    <a class="usefull-link" href="https://www.servicepublic.gouv.ci" target="_blank">Service Public</a>
                </div>
                <div class="column col-md-2 col-sm-3">
                    <a class="usefull-link" href="https://www.directiongénéraleemploi.ci" target="_blank">Direction Générale de l'Emploi</a>
                </div>
                <div class="column col-md-1 col-sm-3">
                    <a class="usefull-link" href="https://www.infs-ci.org" target="_blank">INSFS</a>
                </div>

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">Copyright &copy; {% now 'Y' %} | DSI &middot; 2022  Tous les droits sont réservés au MEPS.</div>
                </div>
                <div class="column col-md-6 col-sm-6 col-xs-12">
                    <ul class="footer-nav">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- </div> -->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>

{% include 'Layouts/_scripts.html' %}

