{% extends 'Layouts/base.html' %}

{% load static %}

{% block TITLE %}Actualités{% endblock %}

{% block PAGETITLE %}Actualités{% endblock PAGETITLE %}

{% block CONTENT %} 

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li>Actualités</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Partager</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Blog Grid Section-->
    <section class="blog-grid-section">
    	<div class="auto-container">
        	
            <div class="row clearfix">               
                <!--News Block-->

                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">15 Juin 2022</div>
                            	<div class="content">
                                	<div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#">Reconnaissance du mérite</a></h3>
                                        <div class="text">Actualité</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                        	<div class="text">
                             Reconnaissance du mérite : 15 travailleurs d’Abidjan Terminal ont été décorés ce mercredi 14 juin 2022 dans les catégories « Argent » et « vermeil »
                            </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">14 Juin 2022</div>
                            	<div class="content">
                                	<div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#">Coopération 
                                         </a></h3>
                                        <div class="text">Actualité</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                        	<div class="text">
                        Coopération Côte d’Ivoire/Gabon Protection Sociale : le Gabon veut s’imprégner du modèle ivoirien

                            </div>
                            <br>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">08 Juin 2022</div>
                            	<div class="content">
                                	<div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#">
                                        110 ème session CIT</a></h3>
                                        <div class="text">Ministere</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                        	<div class="text">
                                Dans le cadre des activités de la 110ème session de la Conférence Internationale du Travail, Monsieur Franck DOGOH, Directeur Général de l’Emploi
                            </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
            </div>

            <div class="row clearfix">               
                <!--News Block-->

                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">07 Juin 2022</div>
                            	<div class="content">
                                	<div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#">
                                        110 ème session CIT</a></h3>
                                        <div class="text">Emploi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                        	<div class="text">
                                Monsieur le Ministre de l’Emploi et de la Protection Sociale, Maître Adama KAMARA, a rencontré cet après-midi, Monsieur Guy RYDER
                            </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">6 Juin 2022</div>
                            	<div class="content">
                                	<div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#">
                                        110 ème session CIT</a></h3>
                                        <div class="text">Ministere</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                        	<div class="text">
                            Monsieur le Ministre de l’Emploi et de la Protection Sociale Me Adama KAMARA était devant ses paires du monde du travail, ce lundi 6 juin 2022
                        </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">31 Mai 2022</div>
                                <div class="content">
                                    <div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#"> Télétravail en Côte d’Ivoire</a></h3>
                                        <div class="text">Actualité</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                            <div class="text">
                                Panel MEPS / MTN-CI Télétravail en Côte d’Ivoire : Maître Adama KAMARA invite MTN-CI à promouvoir ce nouveau concept
                            </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->

            </div>
            <div class="row clearfix">               
                <!--News Block-->

                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/resource/welcome-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                                <div class="post-published-date">30 Mai 2022</div>
                                <div class="content">
                                    <div class="content-inner">                                        
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics-1"></span>
                                        </div>
                                        <h3><a href="#"> Fête des mères</a></h3>
                                        <div class="text">Actualité</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                            <div class="text">
                                Célébration de la Fête des mères 2022 au MEPS/Me Adama KAMARA magnifie les femmes de son ministère
                            </div>
                            <a href="#" class="theme-btn btn-style-three">Lire plus</a>
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            
                            
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                            <div class="text">
                           
                        </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                <!--Welcome Block-->
                <div class="welcome-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            
                            
                        </div>
                        <!--Lower Box-->
                        <div class="lower-box">
                            <div class="text">
                           
                        </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                
            </div>
                
        
            
            <!--Pagination Box-->
            <div class="pagination-box">
                <div class="clearfix">
                    <div class="pull-left">
                        <!-- Styled Pagination -->
                        <div class="styled-pagination">
                            <ul class="clearfix">
                                <li><a class="prev" href="#"><span class="fa fa-caret-left"></span></a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a class="next" href="#"><span class="fa fa-caret-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="pages-number">Page 01 of 02</div>
                    </div>
                </div>
            </div>
            <!--End Pagination Box-->
            
        </div>
    </section>
    <!--End Blog Grid Section-->

{% endblock CONTENT %} 
