{% extends 'Layouts/base.html' %}

{% load static %}

{% block TITLE %}DGE{% endblock %}
    
    <!--Page Title-->
    {% block PAGETITLE %}Direction Générale de l'Emploi{% endblock %}
    <!--End Page Title-->

{% block CONTENT %}
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Accueil</a></li>
                        <li>D.G.E</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Services Section-->
    <section class="services-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/news-4.jpg" alt="" />
                            <a href="dspe.html" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-startup"></span></div>
                                    <h3><a href="dspe.html">D.S.P.E</a></h3>
                                    <div class="text">Direction du Stratégies et Programmes d'Emploi.</div>
                                    <a href="dspe.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/news-5.jpg" alt="" />
                            <a href="dsepe.html" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-analytics-1"></span></div>
                                <h3><a href="dsepe.html">D.S.E.P.E</a></h3>
                                <div class="text">Direction du Suivi et Evaluation de la Politique de l’Emploi.</div>
                                    <a href="dsepe.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 <!-- Colum Empty -->
                 <div class="col-lg-1"></div>
            </div>
                    
            <div class="row clearfix">

                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/news-6.jpg" alt="" />
                            <a href="doem.html" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="doem.html">D.O.E.M</a></h3>
                                <div class="text">Direction de l'Observatoire de l'Emploi et des Metiers.</div>
                                <a href="doem.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/services-4.jpg" alt="" />
                            <a href="cnps.html" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-donation"></span></div>
                                <h3><a href="cnps.html">C.N.P.S</a></h3>
                                <div class="text">Caisse Nationale de Prévoyance Sociale.</div>
                                <a href="cnps.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
{% endblock %}