{% extends 'Layouts/base.html' %}

{% load static %}   

{% block TITLE %}D.O.E.M{% endblock %}
    
    <!--Page Title-->
    {% block PAGETITLE %}Direction de l'Observatoire de l'Emploi et des Metiers{% endblock %}

{% block CONTENT %}   
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Accueil</a></li>
                        <li>D.O.E.M</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Partager</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="tabbable row clearfix">

                <!--Sidebar-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <aside class="sidebar">
						
                        <!--Services Category-->
                        <div class="sidebar-widget services-category">
                        	<ul class="services-list nav md-pills pills-secondary d-flex flex-column">
                            	<li class="active"><a href="#missions" data-toggle="tab" role="tab"><span class="icon flaticon-startup"></span>Missions</a></li>
                                <li class=""><a href="#projets"  data-toggle="tab" role="tab"><span class="icon flaticon-analytics-1"></span>Projets</a></li>
                                <li><a href="#objectifs"  data-toggle="tab" role="tab"><span class="icon flaticon-structure"></span>Objectifs</a></li>
                                <li><a href="#sous-directions" data-toggle="tab" role="tab"><span class="icon flaticon-business-3"></span>Sous-Directions</a></li>
                                <li><a href="#nos-contacts" data-toggle="tab" role="tab"><span class="icon flaticon-business-3"></span>Contacts</a></li>
                            </ul>
                        </div>                     
					</aside>
                </div>
            	
                <!--Content Side / Services Single-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="services-single">
                    	<div class="inner-box tab-content content-side">
                        	
                            <!--Upper Box-->
                            <div class=" tab-pane fade upper-box in active" id="missions"  role="tabpanel">
                                <div class="row clearfix">
                                    <div class="column col-lg-12">
                                        <div class="upper-text">Missions</div>
                                            <ul class="list-style-three">
                                                <li>Smart way to work and get good results</li>
                                                <li>To create value and make a diffrence</li>
                                                <li>Be a great place to work people inspired</li>
                                                <li>Inspire moments of optimism & Happiness</li>
                                            </ul>
                                        </div>
                                    <!-- <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/services-7.jpg" alt="" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--Upper Box-->

                            <!--Upper Box-->
                            <div class="tab-pane fade upper-box" id="projets"  role="tabpanel">
                                <div class="row clearfix">
                                    <div class="column col-lg-12">
                                        <div class="upper-text">Projets</div>
                                        <ul class="list-style-three">
                                            <li>Smart way to work and get good results</li>
                                            <li>To create value and make a diffrence</li>
                                            <li>Be a great place to work people inspired</li>
                                            <li>Inspire moments of optimism & Happiness</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/services-7.jpg" alt="" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--Upper Box-->

                            <!--Upper Box-->
                            <div class="tab-pane fade upper-box" id="objectifs"  role="tabpanel">
                                <div class="row clearfix">
                                    <div class="column col-lg-12">
                                        <div class="upper-text">Objectifs</div>
                                        <ul class="list-style-three">
                                            <li>Smart way to work and get good results</li>
                                            <li>To create value and make a diffrence</li>
                                            <li>Be a great place to work people inspired</li>
                                            <li>Inspire moments of optimism & Happiness</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/services-7.jpg" alt="" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--Upper Box-->

                            <!--Upper Box-->
                            <div class="tab-pane fade upper-box" id="sous-directions"  role="tabpanel">
                                <div class="row clearfix">
                                    <div class="column col-lg-12">
                                        <div class="upper-text">Sous-directions</div>
                                        <ul class="list-style-three">
                                            <li>Smart way to work and get good results</li>
                                            <li>To create value and make a diffrence</li>
                                            <li>Be a great place to work people inspired</li>
                                            <li>Inspire moments of optimism & Happiness</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/services-7.jpg" alt="" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--Upper Box-->

                            <!--Upper Box-->
                            <div class="tab-pane fade upper-box" id="nos-contacts"  role="tabpanel">
                                <div class="row clearfix">
                                    <div class="column col-lg-12">
                                        <div class="upper-text">Contactez-nous </div>
                                        <ul class="accordion-box style-four">
                                            
                                            <!--Block-->
                                            <li class="accordion block active-block">
                                                <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div><h5>Adresse:</h5></div>
                                                <div class="acc-content current">
                                                    <div class="content">
                                                        <ul class="info-list">
                                                            <li><span class="icon flaticon-placeholder-3"></span>Abidjan - Plateau, Rue du Commerce, Immeuble (Le Général), 3ème Étage.</li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <!--Block-->
                                            <li class="accordion block">
                                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div><h5>Téléphone:</h5></div>
                                                <div class="acc-content">
                                                    <div class="content">
                                                        <ul class="info-list">
                                                            <li><span class="icon flaticon-telephone"></span><small>Fixe:</small><br> +225 20 22 58 52</li>                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <!--Block-->
                                            <li class="accordion block">
                                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div><h5>Courier :</h5></div>
                                                <div class="acc-content">
                                                    <div class="content">
                                                        <ul class="info-list">
                                                            <li><span class="icon flaticon-e-mail-envelope"></span>Support@doem.gouv.ci</li>
                                                            <li><span class="icon flaticon-e-mail-envelope"></span>info@doem.gouv.ci</li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <!--Block-->
                                            <li class="accordion block">
                                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-right"></span> </div><h5> Horaire :</h5></div>
                                                <div class="acc-content">
                                                    <div class="content">
                                                        <ul class="info-list">
                                                            <li><span class="icon fa fa-clock-o"></span>&nbsp; Lundi - Vendredi :&nbsp; De 07h30 à 16h30</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <!-- <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/services-7.jpg" alt="" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!--Upper Box-->
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="image">
                        <img src="{% static 'images/resource/Maitre-Adama-Kamara.jpg' %}" alt="" height="100%"/>
                    </div>
                </div>
            </div>


            <!--Services Block Seven-->
            <div class="col-md-4 fullWidth-25 sec-title clearfix">
                <section class="row clients-section top-border">
                    <div class="auto-container col-lg-12">
                        <div class="row row-spaced">
                            <div class="col-md-12">
                                <div class="pull-left">   
                                    <h2>Découvrir aussi</h2>
                                </div> 
                                <!-- <div class="pull-right">
                                    <a href="about.html" class="theme-btn btn-style-one" style="border:2px solid #fff;">Voir Plus</a>
                                </div> -->
                            </div>
                            
                        </div>
                    </div>
                </section>
        </div>
        <div class="row clearfix">

            <div class="col-lg-12">
                
                <div class="row">            
                    <!--Services Block Seven-->
                    <div class="services-block-seven col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="icon-box"><span class="icon flaticon-honeycomb"></span></div>
                            <h3><a href="{% url 'dspe' %}">D.S.P.E</a></h3>
                            <div class="text">
                            Directions de l'Observatoire et des Métiers
                        </div>
                        </div>
                    </div>
                    
                    <!--Services Block Seven-->
                    <div class="services-block-seven col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="icon-box"><span class="icon flaticon-international-search-symbol"></span></div>
                            <h3><a href="{% url 'dsepe' %}">D.S.E.P.E</a></h3>
                            <div class="text">
                            Direction du Suivi et Evaluation de la Politique de l’Emploi(DSEPE).
                        </div>
                        </div>
                    </div>
                     <!--Services Block Seven-->
                    <!-- <div class="services-block-seven col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="icon-box"><span class="icon flaticon-honeycomb"></span></div>
                            <h3><a href="{% url 'cnps' %}">C.N.P.S</a></h3>
                            <div class="text">
                            Caisse Nationale de Prevoyance Sociale
                        </div>
                        </div>
                    </div> -->
                </div>

                
            </div>
            
        </div>                     
        <br><br>
                    
    </div>
</div>
    <!--End Blog Grid Section-->
    
{% endblock %}