{% extends 'Layouts/base.html' %}

{% load static %}

{% block TITLE %}Directions Générales{% endblock TITLE %}

{% block PAGETITLE %}Directions Générales{% endblock %}

{% block CONTENT %}
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Accueil</a></li>
                        <li>Directions Générales</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Partager</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Services Section-->
    <section class="services-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
            	
                <!--News Block Two-->
                <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/news-4.jpg' %}" alt="" />
                            <a href="DGE.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-startup"></span></div>
                                <h3><a href="DGE.html">D.G.E</a></h3>
                                <div class="text">Direction Générale de l'Emploi</div>
                                <a href="DGE.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/news-5.jpg' %}" alt="" />
                            <a href="DGT.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-analytics-1"></span></div>
                                <h3><a href="DGT.html">D.G.T</a></h3>
                                <div class="text">Direction Générale du Travail</div>
                                <a href="DGT.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/news-6.jpg' %}" alt="" />
                            <a href="DGPS.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="DGPS.html">D.G.P.S</a></h3>
                                <div class="text">Direction Générale de la Protection Sociale.</div>
                                <a href="DGPS.html" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
               <!--  <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/services-4.jpg' %}" alt="" />
                            <a href="blog-single.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-donation"></span></div>
                                <h3><a href="blog-single.html">Valuation & Finance Advisory</a></h3>
                                <div class="text">Conflict management is the process of limiting the negative aspects of conflict while increasing the positive.</div>
                                <a href="blog-single.html" class="read-more">Read More &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--News Block Two-->
                <!-- <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/services-5.jpg' %}" alt="" />
                            <a href="blog-single.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-note-2"></span></div>
                                <h3><a href="blog-single.html">Audit and Assurance</a></h3>
                                <div class="text">Market research vendors offering you consulting services to advise on our research methods all products. </div>
                                <a href="blog-single.html" class="read-more">Read More &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!--News Block Two-->
                <!-- <div class="news-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'images/resource/services-6.jpg' %}" alt="" />
                            <a href="blog-single.html" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-business-3"></span></div>
                                <h3><a href="blog-single.html">Trades and Stocks</a></h3>
                                <div class="text">A merger means a combination of two companies to form of a new company while an acquisition is purchase.</div>
                                <a href="blog-single.html" class="read-more">Read More &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    <!--Info Section-->
    <section class="info-section">
    	<div class="auto-container">
        	<div class="inner-section">
            	<div class="row clearfix">
                
                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-maps-and-flags"></span></div>
                                <div class="title">Address : Consulting Hub,</div>
                                <h2>NEwyork 10012, USA</h2>
                            </div>
                        </div>
                    </div>
                    
                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-phone-call"></span></div>
                                <div class="title">Troll Free Number :</div>
                                <h2>+44 567 890123 - 30</h2>
                            </div>
                        </div>
                    </div>
                    
                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-chronometer-outline"></span></div>
                                <div class="title">Opening Hours :</div>
                                <h2>Mon - Fri: 8am - 5pm</h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Info Section-->
{% endblock %}