{% extends 'Layouts/base.html' %}

{% load static %}

{% block TITLE %}Inspection Générale{% endblock TITLE %}

{% block PAGETITLE %}Inspection Générale{% endblock %}

{% block CONTENT %}
       
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li>Inspection Générale</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Partager</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Single-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<div class="blog-single">
                    	<div class="inner-box">
                        	<div class="image">
								<img src="{% static 'images/resource/news-single.jpg' %}" alt="" />
                        	</div>
                            <ul class="post-info">
                            	<li>January 19, 2017</li>
                                <li>Posted by: Stephen Adams</li>
                                <li>Category: Business Plan</li>
                            </ul>
                            <div class="lower-content">
                            	<h3>Are High-Multiple Tech Stocks Winners or Losers?</h3>
                                <div class="text">
                                	<p>Installations are becoming a more importants, but if currents trends continue we sed should be looking to others solutions Complete, comprehensive prefabrication of components is complicated because it is a difficult to integrate water, electricity ut and heating systems in prefabricated Installations are becoming more important pursue pleasure rationally encounter consequences that are extremely painful the master-builder of human happiness. </p>
                                    <p>Who loves or pursues or desires to obtain pain of itself, because it is painbecause occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it right to find fault.</p>
                                    <div class="row clearfix">
                                        <!--Image Column-->
                                        <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                            <div class="image">
                                                <img src="{% static 'images/resource/quote-image.jpg' %}" alt="" />
                                            </div>
                                        </div>
                                        <!--Quote Column-->
                                        <div class="quote-column col-md-7 col-sm-7 col-xs-12">
                                        	<blockquote>
                                            	<div class="quote-icon"><span class="icon fa fa-quote-left"></span></div>
                                                <div class="text">They have got my project time with all competition seds our with a highly skilled, well -organized and denouncing pleaure experienced team of professional ever undertakes.</div>
                                                <h3>Astely Fletcher</h3>
                                                <div class="designation">Manager</div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <p>Know how to pursue pleasure rationally encounter consequences that are extremely painful seds or again is there anyone who loves or pursues or desires to obtain pain of itself, because seds our it pain, but because occasionally circumstances occur which toil and undertakes laborious physical exercise.</p>
                                </div>
                                
                                <!--post-share-options-->
                                <div class="post-share-options clearfix">
                                    <div class="pull-left tags"><span>Tags: </span><a href="#">Consulting</a>, <a href="#">Business</a>, <a href="#">Seminar</a></div>
                                    <ul class="pull-right social-icon-three clearfix">
                                        <li class="share"><span class="fa fa-share-alt"></span>&nbsp; Share :</li>
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>
                                
                                <!--Author Box-->
                                <div class="author-box">
                                	<h2>About Author</h2>
                                    <div class="author-comment">
                                    	<div class="inner-box">
                                        	<div class="image"><img src="{% static 'images/resource/author-2.jpg' %}" alt="" /></div>
                                            <h3>Mark Richardson</h3>
                                            <div class="text">Give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, installations are becoming more importants, but if current installations are becoming but if current prefabrication the master-builder of human happiness.</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Comments Area-->
                                <div class="comments-area">
                                    <div class="group-title"><h2>Read Comments</h2></div>
                                    <!--Comment Box-->
                                    <div class="comment-box">
                                        <div class="comment">
                                            <div class="author-thumb"><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></div>
                                            <div class="comment-inner">
                                            	<div class="comment-info clearfix"><strong>Steven Rich – Sep 17, 2016:</strong></div>
                                                <div class="rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star light"></span>
                                                </div>
                                                <div class="text">How all this mistaken idea of denouncing pleasure and praising pain seds was born and I will give you a complete account of the system, and expound the actual teachings.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Comment Box-->
                                    <div class="comment-box reply-comment">
                                        <div class="comment">
                                            <div class="author-thumb"><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></div>
                                            <div class="comment-inner">
                                            	<div class="comment-info clearfix"><strong>William Cobus – Aug 21, 2016:</strong></div>
                                                <div class="rating">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star-half-empty"></span>
                                                </div>
                                                <div class="text">There anyone who loves or pursues or desires to obtain pain itself, because it is pain sed, because occasionally circumstances occur some great pleasure.</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <!-- Comment Form -->
                                <div class="comment-form">	
                                    <div class="group-title"><h2>Add Your Reviews</h2></div>
                                    <div class="rating-box">
                                    	<div class="text"> Your Rating:</div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                        </div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star"></span></a>
                                            <a href="#"><span class="fa fa-star"></span></a>
                                        </div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                        </div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                        </div>
                                        <div class="rating">
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                        </div>
                                    </div>
                                    <form method="post" action="contact.html">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <input type="text" name="username" placeholder="Your Name*" required>
                                            </div>
                                            
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <input type="email" name="email" placeholder="Email Address*" required>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <input type="text" name="number" placeholder="Phone Num" required>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <input type="text" name="subject" placeholder="Subject" required>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                <textarea name="message" placeholder="Write Your Comments..."></textarea>
                                            </div>
                                            
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                <button class="theme-btn btn-style-three" type="submit" name="submit-form">Submit Now</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                        
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Sidebar-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
						
                        <!-- Search Form -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search.." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Useful Links</h2>
                            </div>
                            <ul class="blog-cat">
                                <li><a href="#">Business Plan</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Finance & Accounting</a></li>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Competitive Research</a></li>
                            </ul>
                        </div>

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>Popular Post</h2></div>

                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-single.html"><img src="{% static 'images/resource/post-thumb-1.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">Finance & legal throughout project.</a></div>
                                <div class="post-info">January 19, 2017</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-single.html"><img src="{% static 'images/resource/post-thumb-2.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">What makes us best in the world?</a></div>
                                <div class="post-info">December 05, 2016</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="blog-single.html"><img src="{% static 'images/resource/post-thumb-3.jpg' %}" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">Why People go with Consulthub.</a></div>
                                <div class="post-info">August 21, 2016</div>
                            </article>
                            
						</div>
                        
                        <!-- Gallery Widget-->
                        <div class="sidebar-widget gallery-widget">
                            <div class="sidebar-title">
                            	<h2>Instagram</h2>
                            </div>
                            <div class="clearfix">
                            	<figure class="image"><a href="images/gallery/gallery-1.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-1.jpg' %}" alt=""></a></figure>
                                <figure class="image"><a href="images/gallery/gallery-2.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-2.jpg' %}" alt=""></a></figure>
                                <figure class="image"><a href="images/gallery/gallery-3.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-3.jpg' %}" alt=""></a></figure>
                                <figure class="image"><a href="images/gallery/gallery-4.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-4.jpg' %}" alt=""></a></figure>
                                <figure class="image"><a href="images/gallery/gallery-5.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-5.jpg' %}" alt=""></a></figure>
                                <figure class="image"><a href="images/gallery/gallery-6.jpg' %}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-6.jpg' %}" alt=""></a></figure>
                            </div>
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Tag Cloud</h2></div>
                            <a href="#">Book</a>
                            <a href="#">Company</a>
                            <a href="#">Ideas</a>
                            <a href="#">Energy</a>
                            <a href="#">Engines</a>
                            <a href="#">Chemical</a>
                            <a href="#">Industry</a>
                            <a href="#">Research</a>
                        </div>
                        
					</aside>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Blog Grid Section-->
    
 {% endblock %}