{% extends 'Layouts/base.html' %}

{% load static %}

{% block TITLE %}Structures Sous-tutelles{% endblock TITLE %}

{% block PAGETITLE %}Structures Sous-tutelles du MEPS{% endblock %}

{% block CONTENT %}
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Accueil</a></li>
                        <li>Structures Sous-tutelles</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="https://www.facebook.com"><span class="icon fa fa-share-alt"></span> Partager</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    <section class="blog-grid-section">
        <div class="auto-container">            
            <div class="row clearfix">               
                <!--News Block-->

                <!--Welcome Block-->
                <div class="services-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <h3>MUGEFCI</h3>
                                <div class="text">Mutuelle générale des fonctionnaires et agents de l'État</div>
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-teacher"></span>
                                        </div>
                                        <div class="text">Plateau, Immeuble <strong>Les Arcades</strong> Avenue Franchet d'Esperey, non loin de l'immeuble <strong>La Pyramide.</strong>  <br>Tel : 20 25 74 00 / 20 25 74 11 </br> site web :www.mugef-ci.com </div>
                                        <!-- <a class="read-more" href="le-ministere.html">Lire plus</a> -->
                                    </div>
                                </div>
                        </div>
                </div>
                <!-- End Welcome Block -->
                
                <!--Welcome Block-->
                <div class="services-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                    <div class="icon-box">
                                <span class="icon flaticon-teacher"></span>
                            </div>
                            <h3>IPS-CNAM</h3>
                            <div class="text">Institution de prévoyance sociale- caisse Nationale d'assurance Maladie.</div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-teacher"></span>
                                    </div>
                                    <div class="text">Avenue Lamblin, Immeuble l'Equateur 04 BP 2930 Abidjan 04.<br>Tel : 20 22 55 00, Fax: 20 22 55 09</br>ligne verte<strong> 800 00 900</strong>Email : info@cnam.ci</div>
                                    <!-- <a class="read-more" href="le-ministere.html">Lire plus</a> -->
                                </div>
                            </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
                
                <!--Welcome Block-->
                <div class="services-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="inner-box">
                    <div class="icon-box">
                                <span class="icon flaticon-teacher"></span>
                            </div>
                            <h3>IPS-CGRAE</h3>
                            <div class="text">Institution de prévoyance sociale- Caisse Générale De Retraite des agents de l'Etat</div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-teacher"></span>
                                    </div>
                                    <div class="text">Abidjan plateau, entre l'agence principale MTN et les galeries Peyrissac<br>Tel : 20 25 12 12, Fax: 20 25 11 00<br> BP V 164 Abidjan </br> Email : info@grae.ci</div>
                                    <!-- <a class="read-more" href="le-ministere.html">Lire plus</a> -->
                                </div>
                            </div>
                    </div>
                </div>
                <!-- End Welcome Block -->
            
            </div>
            
        </div>
    </section>
    <!--End Blog Grid Section-->
    
    <!--Info Section-->
    <section class="blog-grid-section">
        <div class="auto-container">            
            <div class="row clearfix">               
                <!--News Block-->

                <!--Welcome Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <h3>IPS-CNPS</h3>
                                <div class="text">Institution de prévoyance sociale- Caisse Nationale De Prévoyance Sociale</div>
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-teacher"></span>
                                        </div>
                                        <div class="text">Abidjan Plateau, face à la mosquée, 24, Avenue Générale de Gaulle,01 BP 317 Abidjan 01. <br>Tel : 20 25 20 50</br>Site web :www.cnps.ci</div>
                                        <!-- <a class="read-more" href="le-ministere.html">Lire plus</a> -->
                                    </div>
                                </div>
                        </div>
                </div>
                <!-- End Welcome Block -->
                
                <!--Welcome Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                    <div class="icon-box">
                                <span class="icon flaticon-teacher"></span>
                            </div>
                            <h3>PFS-CI</h3>
                            <div class="text">Plate-Forme de services De Cote D'Ivoire</div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-teacher"></span>
                                    </div>
                                    <div class="text"><br>Tel : 22 41 90 91 / 22 41 91 91</div>
                                    <!-- <a class="read-more" href="le-ministere.html">Lire plus</a> -->
                                </div>
                            </div>
                    </div>
                </div>
                <div class="services-block col-lg-4"></div>
                <!-- End Welcome Block -->

            </div>
            
        </div>
    </section>
    <!--End Info Section-->

{% endblock %}